<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/otherstyle.css">
    <title>Chitter</title>
  </head>
  <body background = 'https://webgradients.com/public/webgradients_png/035%20Itmeo%20Branding.png'>
    <div class="future-cop">
      <h3 class="cookie">Welcome to...</h3>
      <h3 class="cookie">Chat with your Gang</h3>
    </div>
    <div class="center">
      <form>
        <div class="bottom">
          <input type="text" name="email" placeholder="Email">
          <input type="password" name="password" placeholder="Password">
        </div>
        <div class="inline">
          <button type="submit" formmethod="post" formaction="/chitter/signup">Sign up</button>
          <button type="submit" formmethod="post" formaction="/chitter/content">Login</button>
        </div>
        <div class="flash"> <%= styled_flash %> </div>
      </form>
    </div>
    <a href = 'https://twitter.com/Alex__Code'>
    <img src='/twit.png' alt='T' width=30 heigh=30 >
    </a>
    </br>
    <a href = 'https://www.youtube.com/channel/UCbb1jwj4txlERk4jBWWienw?view_as=subscriber'>
    <img src='http://icons.iconarchive.com/icons/alecive/flatwoken/512/Apps-Youtube-B-icon.png' alt='Y' width=30 height=30>
    </a>
    </br>
    <a href = 'https://medium.com/@alex__code'>
    <img src='/blog.png' alt='M' width=30 height=30>
    </a>
  <audio autoplay="true" src="/music.mp3">
</body>
</html>
