@import url(https://fonts.googleapis.com/css?family=Cookie);
@import url(https://fonts.googleapis.com/css?family=UnifrakturCook:700);

.cookie {
  text-align: center;
  font-size: 50px;
  line-height: 62px;
  font-family: 'Cookie', cursive;
}
.uni {
  font-size: 50px;
  line-height: 62px;
  font-family: 'UnifrakturCook', cursive;
}

.center {
     position: absolute;
     margin: auto;
     top: 0;
     right: 0;
     bottom: 0;
     left: 0;
     width: 200px;
     height: 100px;
}

.inline {
  display: inline-block;
  width: 250px;
  margin-bottom: 20px;
}

.bottom {
margin-bottom: 20px;
}

input[type="text"]{
   font-size:20px;
 }
input[type="password"]{
   font-size:20px;
 }
button[type=submit] {
   width: 8em;  height: 4em;
   margin-right: 30px;
}
