@import url(https://fonts.googleapis.com/css?family=Cookie);
@import url(https://fonts.googleapis.com/css?family=UnifrakturCook:700);

.cookie {
  text-align: center;
  font-size: 50px;
  line-height: 62px;
  font-family: 'Cookie', cursive;
}
.uni {
  font-size: 50px;
  line-height: 62px;
  font-family: 'UnifrakturCook', cursive;
}

p {
color: white;
font-size: 30px;
margin-top: 50px;
margin-bottom: 50px;
text-align: center;
font-family: 'Cookie', cursive;
}

.x {
  margin-top: 500px;
}

.centrado {
     position: absolute;
     margin: auto;
     top: 0;
     right: 0;
     bottom: 0;
     left: 0;
     width: 200px;
     height: 100px;
}

.otrocentrado {
width: 80px;
margin: auto;
align: center;
}

.saltalineas {
  display: inline-block;
  width: 250px;
  margin-bottom: 20px;
}

.sangrado {
margin-bottom: 20px;
align: center;
}

input[type="text"]{
   font-size:20px;
 }
input[type="password"]{
   font-size:20px;
 }
button[type=submit] {
   width: 8em;  height: 4em;
   margin-right: 30px;
}

.cuadrodetexto {
border: lightblue 1px solid;
margin-bottom: 5px;
width: 600px;
margin-left: auto;
margin-right: auto;
}
